body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.App {
  text-align: center;
  width: 100%;
  max-width: 600px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  overflow: auto;

  
}
.h4, h2, h3, p {
  font-size: 18px; 
  margin: 10px 0;
}



.start-screen, .game-over {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #45a049;
}

.scores {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.board {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 10px; 
  margin-bottom: 20px;
  justify-content: center; 
}


.card {
  width: 80px;
  height: 80px; 
  display: flex;
  justify-content: center;
  align-items: center;
  background: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 24px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, background-color 0.2s ease;
}


.card.flipped {
  background: #4caf50; 
}


.card:hover {
  transform: scale(1.05); 
  background: #0056b3; 
}

@media (max-width: 768px) {
  .board {
    grid-template-columns: repeat(4, 1fr); 
    gap: 8px; 
  }

  .card {
    width: 60px;
    height: 60px;
    font-size: 18px; 
  }
  h4, h2, h3 {
    font-size: 16px; 
  }

  p {
    font-size: 14px; 
  }
}

.timeout-message {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}
